/* Global Variables */
:root {
  --back_color: white;
  --font_color: #808080;
  --bord_color: #ececec;
  --hove_color: #fafafa;
  --bord_color_d: #888888;
  --entry_font_size: calc(14px + 1vmin);
  --main_font_size: calc(8px + 1vmin);
  --medium_font_size: calc(6px + 1vmin);
  --small_font_size: calc(4px + 1vmin);
  --entry_border_radius: calc(30px + 1vmin);
  --list_border_radius: calc(10px + 1vmin);
}

/*
.App {
  text-align: center;
}
*/

body {
  background-color: var(--back_color);
}

.App-header {
  background-color: var(--back_color);
/*
  margin: 0 5% 0 5%;
  -webkit-box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.53); 
  box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.53);
  border: 1px solid var(--bord_color);
*/
  min-height: 100vh;
  display: block;
/*
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
*/
  font-size: var(--main_font_size);
  color: var(--font_color);
}

.Asignee {
  font-size: var(--medium_font_size);
  color: rgb(120, 216, 211);
  overflow: hidden;
  text-overflow: ellipsis;
}

.ItemBox {
  display: block;
  width: 50%;
  padding-top: 10%;
  padding-bottom: 5%;
  margin: 0 auto 0 auto;
}

.InputEntry {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 80%;
  border: 1px solid var(--bord_color);
  border-radius: var(--entry_border_radius);
  -moz-border-radius: var(--entry_border_radius);
  -webkit-border-radius: var(--entry_border_radius);
  padding: 4px 10px 4px 20px;
  font-size: var(--entry_font_size);
}

.InputEntry:focus {
  outline: none;
}

.InputBtnEntry {
  width: 19%;
  border: 1px solid rgb(133, 235, 230);
  background-color: rgb(133, 235, 230);
  border-radius:50px;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  padding: 4px 0px 4px 0px;
  text-align: center;
  margin-left: 1%;
  /*margin-right: 1%;*/
  font-size: var(--entry_font_size);
  color: white;
  opacity: 1;
  transition: 0.2s;
}

.InputBtnEntry:focus {
  outline: none;
}

.InputBtnEntry:hover {
  opacity: 0.7;
}

.AsigneeBox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40%;
  border: 1px solid var(--bord_color);
  border-radius:50px;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  padding: 0px 5px 2px 15px;
  margin: 0 0 0 0;
  font-size: var(--medium_font_size);
}

.AsigneeBox:focus {
  outline: none;
}

.AsigneeBtn {
  width: 15%;
  padding: 0 0 2px 0;
  margin-left: 1%;
  border: 1px solid rgb(133, 235, 230);
  background-color: rgb(133, 235, 230);
  border-radius:50px;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  text-align: center;
  /*margin-right: 1%;*/
  font-size: var(--medium_font_size);
  color: white;
  opacity: 1;
  transition: 0.2s;
}

.AsigneeBtn:focus {
  outline: none;
}

.AsigneeBtn:hover {
  opacity: 0.7;
}

.ItemEntry {
  margin: 5px 0px 5px 0px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.4s;
}

.ItemEntryText {
  overflow: hidden;
  text-overflow: ellipsis;
}

.ItemEntryDone {
  text-decoration: line-through;
}

.ItemEntry:hover {
  word-wrap: break-word;
  background-color: var(--hove_color);
}

.ListEntry {
  margin-top: 20px;
  border: 1px solid var(--bord_color);
  border-radius: var(--list_border_radius);
  -moz-border-radius: var(--list_border_radius);
  -webkit-border-radius: var(--list_border_radius);
  padding-top: 5px;
  padding-bottom: 10px;
}

input[type=checkbox] {
  margin-right: 10px;
  font-size: 30px;
  outline: 0;
}

input[type=checkbox]:focus {
  outline: 0;
}

.NoAsignee {
  font-style: italic;
  font-size: var(--small_font_size);
  color: #dddddd;
  margin-bottom: 0;
}
