/* Global Variables */
:root {
  --back_color:  #ffffff;
  --bord_color: #313131;
  --main_button_font_size: calc(16px + 2vmin);
  --entry_font_size: calc(14px + 1vmin);
  --main_font_size: calc(9px + 1vmin);
  --medium_font_size: calc(7px + 1vmin);
  --small_font_size: calc(5px + 1vmin);
  --entry_border_radius: calc(0);
  --list_border_radius: calc(0);
}

@media (max-width: 1200px) {
  :root {
    --entry_font_size: calc(18px + 1vmin);
    --main_font_size: calc(12px + 1vmin);
    --medium_font_size: calc(10px + 1vmin);
    --small_font_size: calc(8px + 1vmin);
  }
}

@media (max-width: 600px) {
  :root {
    --entry_font_size: calc(20px + 1vmin);
    --main_font_size: calc(14px + 1vmin);
    --medium_font_size: calc(12px + 1vmin);
    --small_font_size: calc(10px + 1vmin);
  }
}

body {
  background-color: var(--back_color);
}

.AppHeader {
  background-color: var(--back_color);
  min-height: 100vh;
  display: block;
  font-size: var(--main_font_size);
}

.MainItemBox {
  display: block;
  width: 50%;
  padding-top: 10%;
  padding-bottom: 5%;
  margin: 0 auto 0 auto;
}

@media (max-width: 1200px) {
  .MainItemBox {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .MainItemBox {
    width: 90%;
  }
}

.ItemEnterForm {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--bord_color);
}

.ItemEnterInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  color: var(--bord_color);
  border: none;
  padding: 4px 10px 0px 20px;
  font-size: var(--entry_font_size);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  flex: 1;
}

.ItemEnterInput:focus {
  outline: none;
}

.ItemEnterButton {
  width: 9%;
  border: none;
  background-color: transparent;
  padding: 4px 0px 4px 0px;
  text-align: center;
  margin-left: 0;
  /*margin-right: 1%;*/
  font-size: var(--main_button_font_size);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: var(--bord_color);
  opacity: 1;
  transition: 0.2s;
}

.ItemEnterButton:focus {
  outline: none;
}

.ItemEnterButton:hover {
  opacity: 0.7;
}

.ItemListContainer {
  margin-top: 20px;
  border: none;
  padding-top: 5px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.ItemContainer {
  margin: 5px 0px 5px 0px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 1000px) {
  .ItemContainer:hover {
    word-wrap: break-word;
    background-color: rgb(248, 248, 248);
  }
}

.ItemPropertiesContainer {
  padding-top: 1px;
  padding-bottom: 5px;
}

.ItemMainText {
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: var(--main_font_size);
  padding-top: 3px;
}

.ItemPropertiesText {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: var(--small_font_size);
  margin-right: 10px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .ItemPropertiesText {
    display: none;
  }
}


.ItemCompleteButton {
  background: transparent;
  border-radius: 100%;
  box-shadow: inset 0px 0px 0px 3px white;
  border: 1px solid var(--bord_color);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 22px;
  width: 22px;
  padding:0;
}

.ItemCompleteButton:focus {
  outline: none;
}

.ItemCompleteButton:hover {
  background: var(--bord_color);
  opacity: 0.3;
}

@media (max-width: 768px) {
  .ItemCompleteButton {
    height: 30px;
    width: 30px;
  }
}

.ItemPropertiesItem {
  display: flex;
  flex-direction: row;
}

.ItemNoAsignee {
  font-style: italic;
  font-size: var(--small_font_size);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #dddddd;
  margin-bottom: 0;
}

.ItemAsignee {
  font-size: var(--small_font_size);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: rgb(120, 216, 211);
  overflow: hidden;
  text-overflow: ellipsis;
}

.ItemAsigneeInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 60%;
  background: transparent;
  border: none;
  padding: 0 5px 0 0;
  margin: 0 0 0 0;
  font-size: var(--small_font_size);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.ItemAsigneeInput:focus {
  outline: none;
}

.ItemAsigneeButton {
  width: 30px;
  padding: 0;
  margin-left: 1%;
  border: none;
  background-color: #dddddd;
  border-radius:50px;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  text-align: center;
  /*margin-right: 1%;*/
  font-size: var(--small_font_size);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: white;
  opacity: 1;
  transition: 0.2s;
}

.ItemAsigneeButtonX {
  width: 30px;
  padding: 0;
  margin-left: 3px;
  border: none;
  background-color: #f0d9d9;
  border-radius:50px;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  text-align: center;
  /*margin-right: 1%;*/
  font-size: var(--small_font_size);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: white;
  opacity: 1;
  transition: 0.2s;
}

.ItemAsigneeButton:focus {
  outline: none;
}

.ItemAsigneeButton:hover {
  opacity: 0.7;
}

input[type=checkbox] {
  vertical-align: middle;
  zoom: 1.5;
  float: right;
  margin-right: 10px;
  font-size: 30px;
  outline: 0;
}

input[type=checkbox]:focus {
  outline: 0;
}
